# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/TucanScript/FileContentIndex/4a58b49e-8795-4c24-b5c1-ce92cc7e7b5f.vsidx
*.vsidx
*.sqlite
/.vs
/out
